.padre {
    width: 700px;
    height: 500px;
    background-color: plum;
    display: flex; /* HABILITA QUE LOS HIJOS ESTÉN UNO AL LADO DEL OTRO*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hijo {
    width: 100px;
    height: 100px;
    background-color: powderblue;
    margin: 20px;
}